body {
	font-family: sans-serif;
	position: relative;
	margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contents {
	margin-left: 21%;
}

/* メニューページのボックス */
.box-container {
    display: grid;
	grid-template-columns: repeat(3, 300px); /* 3列固定幅 */
	gap: 30px; /* ボックス間の余白 */
	justify-content: center; /* 中央に寄せる */
	margin-top: 50px;
    }

/* .text {
	font-color: #000000;
} */

.box_red,
.box_green,
.box_blue {
	width: 250px;
	height: 120px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: transform 0.2s;
	list-style: none;

}

.box_red { background-color: #ffaaaa; }
.box_green { background-color: #b7ffb7; }
.box_blue { background-color: #d6c4f0; }




/* 共通部分(ヘッダー) */
.header {
	background: linear-gradient(to right, #f0f8ff, #e6f0ff);
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header h1 {
	margin: 0;
	font-size: 24px;
	color: #333;
}

.user-info {
	font-size: 14px;
	text-align: right;
}

.user-info span {
	margin-right: 10px;
}

.user-info a {
	color: #007bff;
	text-decoration: none;
	text-decoration: underline;
}

/* 共通部分(メニュー) */
.sidebar {
	position: fixed;
	top: 60px;
	left: 0;
	width: 20%;
	padding: 20px;
	border-right: 1px solid #ebe8e8;
	height: calc(100vh - 60px);
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* 共通部分(フッター) */
.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: #f0f0f0;
}